@model IEnumerable<SistemadeGestionEscolar.Models.Asignatura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar asignatura", "Create")
</p>

<table id="myTable" class="table table-hover">

    <thead>
        <tr>
            <th>Nombre de Asignatura</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>@item.nombreAsignatura</td>

                <td>
                    @Html.ActionLink("Delete", "Delete", "Grupo", new { @id = item.asignaturaID }, new { @class = "btn btn-primary" })

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Grupo", new { @id = item.asignaturaID }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Grupo", new { @id = item.asignaturaID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    tr.even {
        background-color: #e6e6e6 !important;
    }
</style>

<link href="//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/responsive.jqueryui.min.js"></script>

    <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
            });

    </script>
}