@model SistemadeGestionEscolar.Models.Clase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asignatura.nombreAsignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignatura.nombreAsignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo.nombreGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo.nombreGrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.claseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
