@model SistemadeGestionEscolar.Models.Grupo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupo   @Html.DisplayFor(model => model.nombreGrupo)</h2><br>
    

<h4>CLASES</h4>

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>Nombre De Clase</th>
            <th>Nombre De Profesor</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clases in Model.clases)
        {
            <tr>

                <td>@(clases.asignatura.nombreAsignatura)</td>
                <td>@(clases.profesor.nombre)</td>


                <td>@Html.ActionLink("Eliminar", "eliminar", "Clases", new { id = clases.claseID }, null)  </td>
                @Html.ActionLink("Eliminar", "eliminar", "Account", new { @id = clases.claseID }, new { @class = "btn btn-primary" })


                <td>@Html.ActionLink("Editar", "editar", "Alumno", new { id = clases.claseID }, null)  </td>
                <td>@Html.ActionLink("Detalles", "../Calificacion/nuevasCalificaciones", new { id = clases.claseID })</td>

            </tr>
        }
    </tbody>
</table>


<h4>Alumnos</h4>

<table id="myTable2" class="table table-hover">
    <thead>

        <tr>
            <th>Nombre Completo</th>
            <th>Fecha de nacimiento</th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var alumno in Model.alumnos)
        {
            <tr>

                <td>@(alumno.nombre + " " + alumno.apellidoPaterno + " " + alumno.apellidoMaterno)</td>
                <td>@alumno.fechaDeNacimiento</td>

                <td>                 
                @Html.ActionLink("Eliminar", "AlumnoDelete", "Account", new { @id = alumno.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>                           
                @Html.ActionLink("Editar", "AlumnoEditar", "Account", new { @id = alumno.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </tbody>
</table>

  
<p>
    @Html.ActionLink("Back to List", "Index", "Grupo", new { @class = "btn btn-primary" })
   
</p>


<style>
    tr.even {
        background-color: #e6e6e6 !important;
    }
</style>

<link href="//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/responsive.jqueryui.min.js"></script>

    <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
                $("#myTable2").DataTable();
            });

    </script>
}