@model List<Grupo>
@using SistemadeGestionEscolar.Models

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar</h2>

@Html.Partial("../BuscadorFormulario")

@if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
{
    @Html.ActionLink("Crear Nuevo Grupo", "crear")
}


<table class="table table-striped table-hover">
    <tr>
        <th>Nombre De Grupo</th>
        <th>Carrera</th>

    </tr>
    @foreach (var grupo in Model)
    {
        <tr>
            <td>@grupo.nombreGrupo</td>
            <td>@grupo.carrera</td>

            @*<td><a href="/alumno/eliminar"><i class="glyphicon glyphicon-trash"></a></td>*@
            @if (User.IsInRole("Admin"))
            {
                <td>@Html.ActionLink("Eliminar", "eliminar", new { id = grupo.grupoID })</td>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
            {

                <td>@Html.ActionLink("Editar", "editar", new { id = grupo.grupoID })</td>
            }
            @if (User.IsInRole("Admin"))
            {

                <td>@Html.ActionLink("Detalles", "detalles", new { id = grupo.grupoID })</td>
            }
        </tr>

    }


</table>
