@model SistemadeGestionEscolar.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <fieldset id="fsProfesor">
        <legend>Datos de profesor</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.apellidoPaterno, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.apellidoPaterno, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.apellidoMaterno, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.apellidoMaterno, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.especialidad, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.especialidad, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.grado, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.grado, new { @class = "form-control" })
            </div>
        </div>

    </fieldset>

    <fieldset id="fsUsuario">
        <legend>Datos de usuario</legend>
        <div class="form-group">
            <label for="" class="col-md-2 control-label">Rol</label>
            <div class="col-md-10">
                <select id="rol" name="rol" class="form-control">
                    <option value="Admin">Administrador</option>
                    <option value="Capturista">Capturista</option>
                    <option value="Profesor">Profesor</option>
                    <option value="Visitante">Visitante</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#rol').change(function () {
            //detectar que se selecciono el usuario
            var valorSeleccionado = $(this).find(':selected').text()

            //so fue el profesor aparecer el panel
            if (valorSeleccionado == "Profesor") {
                //alert('Haz realizado un cambio');
                $("#fsProfesor").slideDown();
            } else {
                $("#fsProfesor").slideUp();
            }

            //si no, desaparecer el panel
        });
    </script>
}


