@model List<Alumno>
    @using SistemadeGestionEscolar.Models


@{
    ViewBag.Title = "listar";
}

<h2>listar</h2>

@*@Html.Partial("../BuscadorFormulario")*@



@if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
{
    <div class="row">
        <div class="form-group col-sm-12 ">

            <div>
                @Html.ActionLink("Crear Nuevo Alumno", "crear", "Alumno", new { @class = "btn btn-primary" })
            </div>

        </div>

    </div>

}


    <table id="myTable"class="table table-hover" >

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de Nacimiento</th>
                <th>Carrera</th>
                <th>Grupo</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>

        </thead>

        <tbody>
            @foreach (var alumno in Model)
            {
                <tr>
                    
                    <td>@alumno.nombre</td>
                    <td>@alumno.apellidoMaterno</td>
                    <td>@alumno.apellidoPaterno</td>
                    @*<td>@alumno.fechaNacimiento.ToLongDateString()</td>*@
                    <td>@alumno.carreraPreferida</td>
                    
                    <td>
                        @if (alumno.grupo == null)
                        {
                            @("No inscrito")
                        }
                        else
                        {
                            @alumno.grupo.nombreGrupo
                        }
                    </td>



                    <td>

                        @if (User.IsInRole("Admin"))
                        {

                            @Html.ActionLink("Eliminar", "eliminar", "Alumno", new { @id = alumno.Id }, new { @class = "btn btn-primary" })
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
                        {
                            @Html.ActionLink("Detalles", "DetallesAlumno", "Alumno", new { @id = alumno.Id }, new { @class = "btn btn-primary" })
                        }
                    </td>

                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
                        {
                            @Html.ActionLink("Inscribir", "editar", "Alumno", new { @id = alumno.Id }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

<style>
    tr.even {
        background-color: #e6e6e6 !important;
    }
</style>

    @* Load datatable css *@
    @*<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
       <link href="//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet" />*@


@*//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css
//cdn.datatables.net/responsive/2.1.0/css/responsive.jqueryui.min.css*@
        <link href="//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet" />
       @*<link href="//cdn.datatables.net/responsive/2.1.0/css/responsive.jqueryui.min.css" rel="stylesheet" />*@
      <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

      @* Load datatable js *@
      @section Scripts{
        @*<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
       <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="//cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
      <script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
      <script src="//cdn.datatables.net/responsive/2.1.0/js/responsive.jqueryui.min.js"></script>
   
        <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
            });

        </script>
    }
