@model SistemadeGestionEscolar.Models.Carrera

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Grupos</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCarrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCarrera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Create New", "../Grupo/Create")
</p>



<table id="myTable" class="table table-hover">

    <thead>
        <tr>
            <th>Nombre del Grupo</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>     
    <tbody>
        @foreach (var grupo in Model.grupo)
        {
            <tr>

                <td>@(grupo.nombreGrupo)</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Grupo", new { @id = grupo.grupoID }, new { @class = "btn btn-primary" }) 
                 </td>
                <td>  
                    @Html.ActionLink("Editar", "Edit", "Grupo", new { @id = grupo.grupoID }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Detalles", "../grupo/details", new { @id = grupo.grupoID }, new { @class = "btn btn-primary" })
                </td>

            </tr>
        }

    </tbody>
</table>

<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.carreraID })

    @Html.ActionLink("Back to List", "Index")

</p>


<style>
    tr.even {
        background-color: #e6e6e6 !important;
    }
</style>

<link href="//cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.0/js/responsive.jqueryui.min.js"></script>

    <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
            });

    </script>
}